@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
  color: rgb(254, 254, 254);
  background-color: #000000;
}
h5, p {
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.logo-img {
  height: 79px;
  width: 75px;
}
.homeTop{
  background-image: url(/images/Grant&JacobPodcastHosts.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin-top: -1px;
  padding-top: 30vh;
  padding-left: 160px;
}

.grey-text, .grey-text-mobile {
  color: rgb(237, 237, 237);
  margin: 0;
}
.bg-dark {
  background-color: #000000 !important;
}
.nav-link.active {
  color: #00d200 !important;
}
.messageIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  background-color: #00d200;
  border: 0;
  z-index: 999;
}
.messageIcon:hover {
  background-color: #00FF00;
}
.submitButton{
  background-color: #00d200;
  border: 0;
}
.submitButton:hover {
  background-color: #00FF00;
}
.modal-content {
  background-color: rgb(36, 36, 36);
}
.invisible {
  display: none;
}
.green-text {
  color: #00d200;
}

.episodeButton {
	background-color:transparent;
	border-radius:29px;
	border:3px solid #01b601;
	display:inline-block;
	cursor:pointer;
	color:#01b601;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
}
.episodeButton:hover {
	background-color:transparent;
  color: #00FF00;
  border:3px solid #00FF00;

}
.episodeButton:active {
	position:relative;
	top:1px;
}
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .inner-addon { 
    position: relative; 
}
.episodes-background {
  background-image: url(/images/EpisodeTop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
}
/* style icon */
.inner-addon .searchIcon {
  position: absolute;
  pointer-events: none;
  padding-left: 3px;
  padding-top: 1px;
}

/* align icon */
.left-addon .searchIcon  { left:  0px;}
.right-addon .searchIcon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.inner-addon {
  padding-bottom: 20px;
}
.epLink {
  font-family: 'Nunito', sans-serif;
}
.hover:hover, .epLink:hover {
  color: #00d200;
}
.privacy-background {
  background-color: #000000;
  padding: 50px;
}


@media (min-width: 768px){
.nav-link:hover{
  color: #00d200 !important;
}
.nav-link{
    position: relative;;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00FF00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.grey-text-mobile {
  display: none;
}
}
@media (max-width: 1300px) {
  .homeTop, .episodes-background  {
    background-attachment: scroll;
  }
}

@media (max-width: 767px) {
  .homeTop {
      padding-left: 0px;
      text-align: center !important;
      background-image: url(/images/Grant&JacobPodcastHostsMobile.png);
  }

  .leftAlign {
      text-align: right;
    }
  }

@media (max-width: 450px) {
  .homeTop{
    background-position-x: 35%;
    padding-top: 25vh;
    text-align: center;
  }
  

}
@media (min-width: 1441px){
  .homeTop{
      min-height: 70vh;
      padding-top: 30vh;
  }
}


//Christmas
.winter-is-coming, .snow {
  z-index: 100;
  pointer-events: none;
}
.winter-is-coming {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: #333;
}
.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);
}
.snow--near {
  animation-duration: 10s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
  background-size: contain;
}
.snow--near + .snow--alt {
  animation-delay: 5s;
}
.snow--mid {
  animation-duration: 20s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png');
  background-size: contain;
}
.snow--mid + .snow--alt {
  animation-delay: 10s;
}
.snow--far {
  animation-duration: 30s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
  background-size: contain;
}
.snow--far + .snow--alt {
  animation-delay: 15s;
}
@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}
